spring:
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/taskdb
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  sql:
    init:
      mode: always

server:
  port: 8082
